<% groups.each do |group| %>

  <!--有効なユーザーがオーナーのグループのみ表示-->
  <% unless group.owner.is_deleted %>
    <div class="card mt-2 shadow-lg">
      <div class="card-body">
        <%= link_to(group_path(group.id), class:"btn btn-sm btn-outline-dark mb-1") do %>
          <p class="card-text"><i class="fa-solid fa-flask-vial"></i><%= group.name %></p>
        <% end %>
        : <%= group.users.where(users: { is_deleted: false }).count %>人<br>

        オーナー :
        <%= link_to(user_path(group.owner.id), class:"btn btn-sm btn-outline-dark mt-1") do %>
          <p class="card-text"><i class="fas fa-user"></i><%= group.owner.name %></p>
        <% end %>

        <hr>
        <div class="row px-2">
          <div class="col-2">
            <%= link_to group_path(group.id) do %>
              <%= image_tag group.get_group_profile_image, size: "50x50" %>
            <% end %>
          </div>
          <div class="col-6 text-range">
            <%= group.introduction %>
          </div>
          <div class="col-2">
            <% if group.owner_id == current_user.id %>
              <%= link_to edit_group_path(group), class: "btn btn-sm btn-outline-secondary" do %>
                <i class="fa-solid fa-pen-to-square"></i>編集
              <% end %>
            <% end %>
          </div>
          <div class="col-2 px-2">
            <% if group.owner_id == current_user.id %>
              <%= link_to group_path(group), method: :delete, data: { confirm: '本当に解散しますか？' }, class: "btn btn-sm btn-outline-secondary" do  %>
                <i class="fa-solid fa-plane"></i>解散
              <% end %>
            <% elsif group.users.include?(current_user) %>
              <%= link_to group_group_users_path(group), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-sm btn-outline-secondary" do %>
                <i class="fa-solid fa-heart-crack"></i>退会
              <% end %>
            <% else %>
              <%= link_to group_group_users_path(group), method: :post, class: "btn btn-sm btn-outline-secondary" do %>
                <i class="fa-solid fa-heart"></i>参加
              <% end %>
            <% end %>
          </div>
          <div class="col-12 text-right">
            <p class="card-text">Since <i class="fa-regular fa-clock"></i><%= l group.created_at, format: :short %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>