<div class="container">
  <div class="row no-gutters mt-4">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-0">

      <h5 class="text-dark bg-light mb-0 text-center">研究部長になる</h5>

      <div class="form-body p-4">
      <%= form_with model: @group, url: form_url do |f| %>

        <%= f.file_field :group_profile_image, accept: "image/*", class: "w-100" %>

        <div class="input-group mb-1 mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-people-group"></i></span>
          </div>
          <%= f.text_area :name, :placeholder =>"グループ名", required: true, class: "form-control" %>
        </div>

        <div class="input-group mb-1 mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-pencil"></i></span>
          </div>
          <%= f.text_area :introduction, :placeholder =>"グループの紹介をしよう。", required: true, class: "form-control" %>
        </div>

        <%= f.submit button_label, class: "btn btn-sm btn-block btn-dark mt-1" %>

      <% end %>
      </div>
    </div>
  </div>
</div>