<div class="container">
  <div class="row no-gutters mt-4">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-0">

      <div class="newgroup-form">
      <div class="form-body p-1">
      <%= form_with model: @group, url: form_url do |f| %>

        <%= f.file_field :group_profile_image, accept: "image/*", class: "w-100" %>

        <div class="input-group mb-1 mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-people-group"></i></span>
          </div>
          <%= f.text_area :name, rows: 1, :placeholder =>"ラボの名前(20文字まで)", required: true, class: "form-control" %>
        </div>

        <div class="input-group mb-1 mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-pencil"></i></span>
          </div>
          <%= f.text_area :introduction, rows: 3, :placeholder =>"ラボの紹介をしよう！", required: true, class: "form-control js-text" %>
        </div>

        <div class="js-text-count float-right">
        </div>

        <%= f.submit button_label, class: "btn btn-sm btn-block btn-dark mt-1" %>

      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
