<%= render 'layouts/flash_message' %>

<h1>Post Index</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">

    <h4 class="mb-5">bunshow</h4>

    <%= render partial: "newpost", locals: {      form_url: posts_path,
                                               button_label: "post!"} %>

    </div>
  </div>
</div>

<% @posts.each do |post| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
   <%= image_tag post_image.get_image, class: "card-img-top"; %>
  <div class="card-body">
   <div class="row">
    <div class="col-10">
     <p class="card-text">説明：<%= post.explanation %></p>
     <span><i class="fas fa-user"></i> By <%= post.user.name %> ｜ </span>
    </div>
   </div>
  </div>
</div>
<% end %>

<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <i>ログアウト</i>
  <% end %>
</li>