<%= render 'layouts/flash_message' %>

<h1>Post Index</h1>
<%= render partial: "newpost", locals: { form_url: posts_path, button_label: "post!" } %>

<div class="d-flex flex-wrap">
  <% @posts.each do |post| %>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mx-auto mt-4 shadow-lg">
      <% if post.post_image.attached? %>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.post_image, size: "300x300", class: "card-img-top" %>
        <% end %>
      <% end %>
      <div class="card-body">
        <p class="card-text">説明：<%= post.explanation %></p>
      <div class="row">
        <div class="col">
         <span><i class="fas fa-user"></i> By <%= post.user.name %> ｜ </span>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <i>ログアウト</i>
  <% end %>
</li>