<%= render partial: "new_post", locals: { form_url: posts_path, button_label: "BunShow投稿！" } %>

<div class="card-list-container py-5">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
    <div class="card mx-auto mt-4 shadow-lg">
      <% if @currentpost.post_image.attached? %>
       <%= image_tag @currentpost.post_image, size: "300x300", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-2 d-flex justify-content-center">
            <%= image_tag @currentpost.user.get_profile_image, size: "100x100" %>
          </div>
          <div class="col-6">
           <p class="card-title">説明：<%= @currentpost.explanation %></p>
           <p class="card-text">
            <%= link_to(user_path(@currentpost.user.id), class:"text-dark") do %>
              <span><i class="fas fa-user"></i> By <%= @currentpost.user.name %></span>
            <% end %>
              <span>
                <%= render "public/likes/like-btn", post: @currentpost %>&nbsp;
                <%= render "public/paragons/paragon-btn", post: @currentpost %>&nbsp;
                <%= render "public/bookmarks/bookmark-btn", post: @currentpost %>
              </span>
            </p>
            <p class="card-text">
              <span><i class="fa-regular fa-clock"></i><%= l @currentpost.created_at %></span>
            </p>
          </div>
          <div class="col-2 justify-content-center">
            <% if @currentpost.user == current_user %>
              <%= link_to 'Destroy', @currentpost, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comments_form">
  <%= render "public/comments/newcomment", post: @currentpost, comment: @comment %>
</div>

<div id="comments_index">
  <%= render "public/comments/indexcomment", post: @currentpost %>
</div>
