<h1>Post Show</h1>
<%= render partial: "newpost", locals: { form_url: posts_path, button_label: "post!" } %>

<div class="d-flex flex-wrap justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
    <div class="card mx-auto mt-4 shadow-lg">
      <% if @currentpost.post_image.attached? %>
       <%= image_tag @currentpost.post_image, size: "300x300", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <p class="card-text">説明：<%= @currentpost.explanation %></p>
      <div class="row">
        <div class="col">
         <span><i class="fas fa-user"></i> By <%= @currentpost.user.name %> ｜ </span>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
      </div>
    </div>
    <% if @currentpost.user == current_user %>
      <%= link_to 'Destroy', @currentpost, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>

<div id="comments_form">
  <%= render "public/comments/newcomment", post: @currentpost, comment: @comment %>
</div>

<div id="comments_index">
  <%= render "public/comments/indexcomment", post: @currentpost %>
</div>
