<h1 class="text-center mt-2">指導を見る</h1>

<% if current_user.name != "guestuser" %>
  <%= render partial: "new_post", locals: { form_url: posts_path, button_label: "BunShow投稿！" } %>
<% end %>

<div class="card-list-container py-2">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="card mx-auto mt-2 shadow-lg">
      <% if @currentpost.post_image.attached? %>
       <%= image_tag @currentpost.post_image, size: "200x300", class: "card-img-top" %>
      <% end %>
      <div class="card-body py-3">
        <div class="row justify-content-center">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <%= image_tag @currentpost.user.get_profile_image, size: "120x120" %>
          </div>

          <div id="post_<%= @currentpost.id %>" class="col-8">
           <p class="card-title">説明：<%= @currentpost.explanation %></p>
           <p class="card-text">
            <%= link_to(user_path(@currentpost.user.id), class:"text-dark") do %>
              <span><i class="fas fa-user"></i> By <%= @currentpost.user.name %></span>
            <% end %>
              <span>
                <div class="like-btn">
                  <%= render partial: "public/likes/like-btn", locals: { post: @currentpost } %>
                </div>

                <div class="bookmark-btn">
                  <%= render partial: "public/bookmarks/bookmark-btn", locals: { post: @currentpost } %>
                </div>

                <div class="paragon-btn">
                  <%= render partial: "public/paragons/paragon-btn", locals: { post: @currentpost } %>
                </div>

              </span>
            </p>
            <p class="card-text">
              <span><i class="fa-regular fa-clock"></i><%= l @currentpost.created_at %></span>
            </p>
          </div>
          <div class="col-2 justify-content-center">
            <% if @currentpost.user == current_user %>
              <%= link_to 'Destroy', @currentpost, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">指導へのフィードバック</h1>
<div id="comments_index">
  <%= render "public/comments/indexcomment", post: @currentpost %>
</div>

<% if current_user.name != "guestuser" %>
  <div id="comments_form">
    <%= render "public/comments/newcomment", post: @currentpost, comment: @comment %>
  </div>
<% end %>
