<%= render 'layouts/flash_message' %>

<h1 class="text-center mt-2">BunShowを見る</h1>

<div class="btn-wrapper mx-auto mt-2">
  <div class="row justify-content-center">
    <%= link_to 'Homeに戻る', posts_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
  </div>
</div>

<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-lg-6 col-md-6 px-3 justify-content-center'>
      <div class="card-list-container">
        <div class="card mx-auto mt-2 shadow-lg">
          <% if @currentpost.post_image.attached? %>
            <%= link_to @currentpost.get_post_image, "data-lightbox": @currentpost.get_post_image do %>
              <%= image_tag @currentpost.get_post_image, size: "200x300", class: "card-img-top" %>
            <% end %>
          <% else %>
            <%= image_tag @currentpost.get_post_image, size: "200x300", class: "card-img-top" %>
          <% end %>
        <div class="card-body py-3">
          <div class="row">
            <div class="col-4 d-flex justify-content-center align-items-center">
              <%= link_to user_path(@currentpost.user.id) do %>
                <%= image_tag @currentpost.user.get_profile_image, size: "120x120" %>
              <% end %>
            </div>

            <div class="col-8">
              <p class="card-title">
                <%= link_to(user_path(@currentpost.user.id), class:"text-dark") do %>
                  <i class="fas fa-user"></i> By <%= @currentpost.user.name %>
                <% end %>
              </p>
              <hr>
              <p class="card-text">:<%= @currentpost.explanation %></p>

              <div id="post_<%= @currentpost.id %>" class="col-12">
                <div class="row">
                  <div class="col-3">
                    <div class="like-btn">
                      <%= render partial: "public/likes/like-btn", locals: { post: @currentpost } %>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="bookmark-btn">
                      <%= render partial: "public/bookmarks/bookmark-btn", locals: { post: @currentpost } %>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="paragon-btn">
                      <%= render partial: "public/paragons/paragon-btn", locals: { post: @currentpost } %>
                    </div>
                  </div>

                  <div class="col-3">
                    <p><i class="fa-solid fa-pencil"></i>
                    <%= @currentpost.comments.where(post_id: @currentpost.id, user_id: User.where(is_deleted: false)).count %></p>
                  </div>

                </div>
              </div>

                <div class="row">
                  <div class="col-12 text-right">
                    <i class="fa-regular fa-clock"></i><%= l @currentpost.created_at %>
                  </div>
                </div>
              <% if @currentpost.user == current_user %>
                <div class="row mt-1">
                  <div class="col-4 text-center">
                    <!--Twitterへの投稿-->
                    <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【BunShow】指導者×コミュニティ%0a%0a#{ @currentpost.get_post_image }", target: '_blank' do %>
                      <i class="fab fa-twitter" style='color: #3399FF;'></i>シェア
                    <% end %>
                  </div>
                  <div class="col-4 text-center">
                    <%= link_to('編集', edit_post_path(@currentpost), class: "btn btn-sm btn-outline-secondary") %>
                  </div>
                  <div class="col-4 text-center">
                      <%= link_to 'Destroy', @currentpost, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class='col-md-6 col-lg-6 px-3 justify-content-center'>
      <% if current_user.name != "guestuser" %>
          <%= render "public/comments/new_comment", post: @currentpost, comment: @comment %>
      <% end %>

      <h4 class="text-center mt-3">フィードバック</h4>
        <%= render "public/comments/index_comment" %>
    </div>

  </div>
</div>

<%= render 'layouts/click' %>