<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% else %>
  <%= render 'layouts/flash_message' %>
<% end %>

<div class="topimage">
  <div class='container'>
    <div class='row'>
      <!--cover_imageが入っている-->
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <h1 class="title px-3 mx-auto mt-3">
      <span>指</span>
      <span>導</span>
      <span>者</span>
      <span>の</span>
    </h1>
  </div>
  <div class='row'>
    <h1 class="title px-3 mx-auto">
      <span>指</span>
      <span>導</span>
      <span>者</span>
      <span>に</span>
      <span>よ</span>
      <span>る</span>
    </h1>
  </div>
  <div class='row'>
    <h1 class="title px-3 mx-auto">
      <span>指</span>
      <span>導</span>
      <span>者</span>
      <span>の</span>
      <span>た</span>
      <span>め</span>
      <span>の</span>
    </h1>
  </div>
  <div class='row'>
    <h1 class="title px-3 mx-auto">
      <span>コ</span>
      <span>ミ</span>
      <span>ュ</span>
      <span>二</span>
      <span>テ</span>
      <span>ィ</span>
    </h1>
  </div>
</div>

<h2 class="display-5 font-weight-normal mt-3 text-center">今日の<br>BunShow数:<%= @today_posts_count %></h2>

<div class="btn-wrapper col-4 mx-auto mt-3">
  <div class="row">
    <%= link_to raw('ゲストユーザー<br>（試してみる）'), public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
</div>

<div class="btn-wrapper mx-auto">
  <div class="row justify-content-center">
    <%= link_to 'ログインはこちら', new_user_session_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
    <%= link_to '新規登録はこちら', new_user_registration_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<h2 class="display-5 font-weight-normal mt-5 text-center">BunShowとは？</h2>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag "1.jpg", size: "600×600", class:"slide-image" %>
    </div>
    <div class="swiper-slide">
       <%= image_tag "2.jpg", size: "600×600", class:"slide-image" %>
    </div>
    <div class="swiper-slide">
       <%= image_tag "3.jpg", size: "600×600", class:"slide-image" %>
    </div>
    <div class="swiper-slide">
       <%= image_tag "4.jpg", size: "600×600", class:"slide-image" %>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<h2 class="display-5 font-weight-normal mt-5 text-center">使い方</h2>