<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% else %>
  <%= render 'layouts/flash_message' %>
<% end %>

<h1 class="text-center mt-2">指導者コミュニティ</h1>
  <p class="text-center">
    コミュニティに所属することで、<br>
    ニーズにマッチした投稿が表示されるようになります。<br>
    あなたの投稿も同じコミュニティの指導者と<br>
    共有しましょう！
  </p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @user, url: community_path, method: :patch do |f| %>
        
        <div class="mb-4">
          <h3 class="text-center">現在のコミュニティ</h3>
          <ul class="list-group">
            <% if @user.communities.present? %>
              <% @user.communities.each do |community| %>
                <li class="list-group-item text-center bg-light"><%= community.name %></li>
              <% end %>
            <% else %>
              <li class="list-group-item text-center bg-light">所属なし</li>
            <% end %>
          </ul>
        </div>

        <div class="mb-4">
          <h3 class="text-center">コミュニティの選択</h3>
          <%= f.collection_check_boxes :community_ids, @communities, :id, :name do |b| %>
            <div class="form-check">
              <%= b.check_box class: "form-check-input" %>
              <%= b.label class: "form-check-label" %>
            </div>
          <% end %>
        </div>

        <%= f.submit "決定する", class: "btn btn-outline-secondary btn-block" %>
        
      <% end %>
    </div>
  </div>
</div>
