<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% end %>

<div class="col-md-8 mx-auto">
<%= form_with model: @user, url: community_path, method: :patch do |f| %>
  
<h3>現在のコミュニティ</h3>
  <ul class="list-group">
    <% @user.communities.each do |community| %>
      <li class="list-group-item"><%= community.name %></li>
    <% end %>
  </ul>

  <h3>コミュニティの選択</h3>
  <%= f.collection_check_boxes :community_ids, @communities, :id, :name do |b| %>
    <div>
        <%= b.check_box %>
        <%= b.label %>
    </div>
  <% end %>

  <%= f.submit "変更する" %>
<% end %>
</div>