<div class="d-flex flex-wrap">
  <% @posts.each do |post| %>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mx-auto mt-2 shadow-lg">
      <%= link_to admin_post_path(post.id) do %>
        <%= image_tag post.get_post_image, size: "300x300", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <p class="card-text text-range">説明：<%= post.explanation %></p>
      <div class="row">
        <div class="col-9">
            <span><i class="fas fa-user"></i> By <%= post.user.name %></span>
        </div>
        <div class="col-3 justify-content-center">
          <%= link_to '詳細', admin_post_path(post.id), class: "btn btn-outline-secondary" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <i class="fa-regular fa-clock"></i><%= l post.created_at, format: :short %>
        </div>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
