<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% end %>

<% if @user.errors[:name].any? %>
  <div class="alert text-center alert-danger">
    この名前は既に使われています
  </div>
<% end %>

<% if @user.errors[:email].any? %>
  <div class="alert text-center alert-danger">
    このアドレスは既に使われています
  </div>
<% end %>

<% if @user.errors[:password].any? %>
  <div class="alert text-center alert-danger">
    パスワードは6文字以上です
  </div>
<% end %>


<div class="container">

  <div class="row">
    <div class="login col-lg-4 col-md-4 col-sm-4 mx-sm-auto shadow-lg rounded px-2 py-4 mt-5">

      <div class="row justify-content-center">
        <%= image_tag "logo_image_2.jpg", size: "72x72", class: "d-flex" %>
      </div>

      <p class="h3 mb-3 font-weight-normal text-center">Please sign up</p>

        <%= form_with model: @user, url: user_registration_path do |f| %>
        <%#= render "public/shared/error_messages", resource: @user %>

          <hr>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, placeholder: "メールアドレス", required: true, autofocus: true, class: "form-control" %>

          <%= f.label :name, class: "sr-only" %>
          <%= f.text_field :name, placeholder: "ニックネーム ", required: true, class: "form-control" %>

          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, placeholder: "パスワード(#{@minimum_password_length}文字以上)", required: true, class: "form-control" %>

          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", required: true, class: "form-control" %>

          <hr>
          <%= f.submit "SignUp", class: "btn btn-dark btn-block" %>

        <% end %>

    </div>
  </div>

    <div class="row justify-content-center mt-5">
      <h5>既に登録済みの方</h5>
      <p>こちら<%= link_to "#{content_tag(:i, "", class: "fas fa-sign-in-alt")}".html_safe, new_user_session_path, class: "underline text-dark" %>からログインしてください</p>
    </div>

</div>
