<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert text-center alert-danger">
    <%= alert %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="login col-lg-4 col-md-4 col-sm-4 mx-sm-auto shadow-lg rounded px-2 py-4 mt-5">

      <div class="row justify-content-center">
        <%= image_tag "logo_image_2.jpg", size: "72x72", class: "d-flex" %>
      </div>

      <p class="h3 mb-3 font-weight-normal text-center">ログイン</p>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <hr>
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, placeholder: "メールアドレス", required: true, autofocus: true, class: "form-control" %>

        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, placeholder: "パスワード", required: true, class: "form-control" %>

        <hr>
        <%= f.submit "Login", class: "btn btn-dark btn-block" %>

      <% end %>

    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <h5>アカウントをお持ちでない方</h5>
    <p>こちら<%= link_to "#{content_tag(:i, "", class: "fas fa-user-plus")}".html_safe, new_user_registration_path, class: "underline text-dark" %>から新規登録を行ってください。</p>
  </div>

</div>