<% users.each do |user| %>

  <div class="card-list-container pt-2">
    <div class="card w-75 mx-auto mt-2 shadow-lg">
      <div class="card-body py-2">
        <div class="row">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image, size: "80x80" %>
            <% end %>
          </div>
          <div id="user_<%= user.id %>" class="col-8">
            <p class="card-title">
              <%= link_to(user_path(user.id), class:"btn btn-sm btn-outline-secondary") do %>
                <i class="fas fa-user"></i> <%= user.name %>
              <% end %>
            </p>
            <hr>
            <p class="card-title">BunShow数: <%= user.posts.count %></p>
            <p class="text-right">
              <% if user == current_user && user.name != "guestuser" %>
                <%= link_to edit_user_path(user), class:"btn btn-sm btn-outline-secondary" do %>
                  <i class="fa-solid fa-pen-to-square"></i>編集
                <% end %>
              <% elsif user.name != "guestuser" %>
                <div class="follow-btn text-right">
                  <%= render partial: "public/users/follow-btn", locals: { user: user } %>
                </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= paginate users %>