<% users.each do |user| %>

  <div class="card-list-container py-2">
    <div class="card w-50 mx-auto mt-2 shadow-lg">
      <div class="card-body py-3">
        <div class="row">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <%= image_tag user.get_profile_image, size: "80x80" %>
          </div>
          <div id="user_<%= user.id %>" class="col-8">
            <%= link_to(user_path(user.id), class:"text-dark") do %>
              <p class="card-title"><i class="fas fa-user"></i> <%= user.name %>
            <% end %>
            <hr>
            <p class="card-title">BunShow数: <%= user.posts.count %></p>
            <p class="text-right">
              <% if user == current_user && user.name != "guestuser" %>
                <i class="fa-solid fa-pen-to-square"></i><%= link_to("編集", edit_user_path(user), class:"text-dark") %>
              <% elsif user.name != "guestuser" %>
                <div class="follow-btn text-right">
                  <%= render partial: "public/users/follow-btn", locals: { user: user } %>
                </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>