<% users.each do |user| %>

  <div class="card-list-container py-5">
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <%= image_tag user.get_profile_image, size: "100x100" %>
          </div>
          <div id="user_<%= user.id %>" class="col-8">
            <%= link_to(user_path(user.id), class:"text-dark") do %>
              <p class="card-title"><i class="fas fa-user"></i> <%= user.name %>
            <% end %>
            <% if user == current_user && user.name != "guestuser" %>
                | <%= link_to("編集", edit_user_path(user), class:"text-dark") %>
            <% elsif user.name != "guestuser" %>
              <div class="follow-btn">
                <%= render partial: "public/users/follow-btn", locals: { user: user } %>
              </div>
            <% end %></p>
            <p class="card-text">投稿数: <%= user.posts.count %></p>
            <p class="card-text">フォロー中:<%= link_to(user.follows.count, follows_user_path(user), class:"text-dark") %><br>フォロワー:<%= link_to(user.followeds.count, followeds_user_path(user), class:"text-dark") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>