<h1 class="text-center mt-2"><%= @user.name %>をフォロー中</h2>

<div class="btn-wrapper mx-auto my-3">
  <div class="row justify-content-center">
    <%= link_to 'Homeに戻る', posts_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
  </div>
</div>

<div class="scroll-list jscroll">
  <% if @user.followeds.exists? %>
    <%= render 'relationships', users: @users %>
  <% else %>
    <div class="h4 text-center">
      ユーザーはいません。
      <%= image_tag "empty_leader.jpg", size: "100x165", class: "mt-3 mx-auto d-block" %>
　　</div>
  <% end %>
</div>

<%= render 'layouts/click' %>