<%= render 'layouts/flash_message' %>

<h1 class="text-center mt-2">"<%= @user.name %>"のログ</h1>

<div class="btn-wrapper mx-auto mt-2">
  <div class="row justify-content-center">
    <%= link_to 'Homeに戻る', posts_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
  </div>
</div>

<div class="card-list-container">
  <div class="card w-75 mx-auto mt-2 mb-2 shadow-lg">
    <div class="card-body py-3">
      <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <%= image_tag @user.get_profile_image, size: "120x120" %>
        </div>

        <div id="user_<%= @user.id %>" class="col-8">
          <p class="card-title text-center", style="font-size: 24px;"> <i class="fas fa-user"></i> <%= @user.name %></p>
          <p class="card-title text-center">
            <% if @user.communities.present? %>
              <i class="fas fa-users"></i><% @user.communities.each do |community| %> <%= community.name %> <% end %>
            <% else %>
              <i class="fas fa-users"></i> 所属なし
            <% end %>
          </p>

          <hr>
          <p class="card-text">BunShow数:
            <% if @user.posts.count >= 10 %>
              <%= @user.posts.count %> <span style="font-size: 30px; font-weight: bold; color: #7BA4A8;"><i class="fa-solid fa-crown"></i> Platinum</span>
            <% elsif @user.posts.count >= 5 %>
              <%= @user.posts.count %> <span style="font-size: 24px;"><i class="fa-solid fa-medal" style="color: #FFD700"></i> Gold</span>
            <% else %>
              <%= @user.posts.count %> <span style="font-size: 18px;"><i class="fa-solid fa-medal" style="color: #C0C0C0"></i> Silver</span>
            <% end %>
          </p>

          <div class="d-flex flex-wrap align-items-center">
            <p id="count-relationship" class="card-text"><%= render partial: "public/users/count-relationship", locals: { user: @user } %></p>
            <p>
              <%= link_to bookmarks_user_path(@user), class:"btn btn-sm btn-outline-secondary mr-2" do %>
                <i class="fa-solid fa-bookmark"></i>ブックマーク
              <% end %>
            </p>
            <% if @user == current_user && @user.name != "guestuser" %>
              <p>
                <%= link_to edit_user_path(@user), class: "btn btn-sm btn-outline-secondary text-right" do %>
                  <i class="fa-solid fa-pen-to-square"></i>編集
                <% end %>
              </p>
            <% elsif @user.name != "guestuser" %>
              <p class="follow-btn">
                <%= render partial: "public/users/follow-btn", locals: { user: @user } %>
              </p>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render partial: "public/posts/index_posts" %>

<%= render 'layouts/click' %>