<%= render 'layouts/flash_message' %>

<h1 class="text-center mt-2">"<%= @user.name %>"の指導記録</h1>

<div class="btn-wrapper mx-auto mt-2">
  <div class="row justify-content-center">
    <%= link_to 'Homeに戻る', posts_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
  </div>
</div>

<div class="card-list-container">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <%= image_tag @user.get_profile_image, size: "100x100" %>
        </div>
        <div id="user_<%= @user.id %>" class="col-8">
          <p class="card-title text-center"><i class="fas fa-user"></i> <%= @user.name %>
            <% if @user.communities.present? %>
              | <i class="fas fa-users"></i><% @user.communities.each do |community| %>:<%= community.name %><% end %>
            <% else %>
              | <i class="fas fa-users"></i>:なし
            <% end %>
            <% if @user == current_user && @user.name != "guestuser" %>
                | <%= link_to("編集", edit_user_path(@user), class:"text-dark") %>
            <% elsif @user.name != "guestuser" %>
              <div class="follow-btn">
                <%= render partial: "public/users/follow-btn", locals: { user: @user } %>
              </div>
            <% end %></p>
          <hr>
          <p class="card-text">投稿数: <%= @user.posts.count %></p>
          <p id="count-relationship" class="card-text"><%= render partial: "public/users/count-relationship", locals: { user: @user } %></p>
          <p class="card-text"><i class="fa-solid fa-bookmark"></i><%= link_to("ブックマーク", bookmarks_user_path(@user), class:"text-dark") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "public/posts/index_posts" %>