<%= render 'layouts/flash_message' %>

<div class="card-list-container py-2">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <%= image_tag @user.get_profile_image, size: "100x100" %>
        </div>
        <div class="col-8">
          <p class="card-title text-center"><i class="fas fa-user"></i> <%= @user.name %>
            <% if @user.communities.present? %>
              | <i class="fa-solid fa-people-group"></i><% @user.communities.each do |community| %>: <%= community.name %><% end %>
            <% else %>
              | <i class="fa-solid fa-people-group"></i>: なし
            <% end %>
            <% if @user == current_user %>
                | <%= link_to("編集", edit_user_path(@user), class:"text-dark") %>
            <% else %>
              <% if @user.is_followed_by?(current_user) %>
                | <%= link_to(user_relationships_path(@user.id), method: :delete, class:"text-dark") do %>
                <i class="fa-solid fa-handshake"></i><%= "フォロー中" %>
              <% end %>
              <% else %>
                | <%= link_to(user_relationships_path(@user.id), method: :post, class:"text-dark") do %>
                <i class="fa-solid fa-handshake-slash"></i><%= "フォローする" %>
                <% end %>
              <% end %>
            <% end %></p>
          <hr>
          <p class="card-text">投稿数: <%= @user.posts.count %></p>
          <p class="card-text"><%= link_to("フォロー中:" + @user.follows.count.to_s, follows_user_path(@user), class:"text-dark") %><br><%= link_to("フォロワー:" + @user.followeds.count.to_s, followeds_user_path(@user), class:"text-dark") %></p>
          <p class="card-text"><i class="fa-solid fa-bookmark"></i><%= link_to("ブックマーク", bookmarks_user_path(@user), class:"text-dark") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "public/posts/index_posts" %>